.filters-div {
  display: flex;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  max-height: 50px;
}

/* ------------------ main table ------------------ */
.main-table-div {
  max-width: 800px;
  margin: 20px auto;
}
